body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    }

#span1{
    color: orange;
}
.flexiable-container{
    display: flex;
    margin-bottom: 100px;
    
}
.half-width{
    width: 40%;
    padding-left: 5%;
}
.half-width img{
    width: 100%;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    color: white;
    font-weight:700;
    padding: 10px 40px;
    border-radius: 20px 20px;
}
#section2{
    width: 30%;
}
.second-p{
    width: 50%;
}
.bg-img{
    background-image: url(images/shapes/7.png);
    background-repeat: no-repeat;
    background-position: right;
}









    